<div style="position: relative; height: 85vh;">
  <div class="container mt-5">
    <div class="row text-center">
      <b>All Brands</b>
    </div>
    <div class="row justify-content-between">
      <div class="col-4 col-sm-3 col-md-2 card-container " (click)="goToModelPage('toyota')">
        <img class="brand-logo" src="assets/images/brand/toyota.png" alt="">
        <p>Toyota</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2  card-container" (click)="goToModelPage('honda')">
        <img class="brand-logo" src="assets/images/brand/honda.png" alt="">
        <p>Honda</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('nissan')">
        <img class="brand-logo" src="assets/images/brand/nissan.png" alt="">
        <p>Nissan</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('mazda')">
        <img class="brand-logo" src="assets/images/brand/mazda.png" alt="">
        <p>Mazda</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('suzuki')">
        <img class="brand-logo" src="assets/images/brand/suzuki.jpg" alt="">
        <p>Suzuki</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('mitsu')">
        <img class="brand-logo" src="assets/images/brand/mitsu.jpg" alt="">
        <p>mitsubishi</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('chev')">
        <img class="brand-logo" src="assets/images/brand/chev.jpg" alt="">
        <p>Chevrolet</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('volvo')">
        <img class="brand-logo" src="assets/images/brand/volvo.jpg" alt="">
        <p>Volvo</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('subaru')">
        <img class="brand-logo" src="assets/images/brand/subaru.png" alt="">
        <p>Subaru</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('ford')">
        <img class="brand-logo" src="assets/images/brand/ford.png" alt="">
        <p>Ford</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('tesla')">
        <img class="brand-logo" src="assets/images/brand/tesla.png" alt="">
        <p>Tesla</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('benz')">
        <img class="brand-logo" src="assets/images/brand/benz.jpg" alt="">
        <p>Benz</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('bmw')">
        <img class="brand-logo" src="assets/images/brand/bmw.png" alt="">
        <p>BMW</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('mini')">
        <img class="brand-logo" src="assets/images/brand/mini.jpg" alt="">
        <p>Mini</p>
      </div>
      <div class="col-4 col-sm-3 col-md-2 card-container" (click)="goToModelPage('acura')">
        <img class="brand-logo" src="assets/images/brand/acura.jpg" alt="">
        <p>Acura</p>
      </div>
    </div>
    <!-- <img style="scale: .35; position: absolute; bottom: -18vh; left: -15vw;" src="assets/images/svg/car.svg" alt="" srcset=""> -->

  </div>

</div>
