<div style="position: relative; height: 85vh;">
  <div class="container mt-5">
    <div class="row text-center">
      <b>All Brands</b>
    </div>
    <div class="row">
      <div class="col-4 col-sm-3 col-md-2 p-2 " (click)="goToModelPage('toyota')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/toyota.png" alt="">
          <p>Toyota</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2 " (click)="goToModelPage('honda')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/honda.png" alt="">
          <p>Honda</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('nissan')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/nissan.png" alt="">
          <p>Nissan</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('mazda')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/mazda.png" alt="">
          <p>Mazda</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('suzuki')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/suzuki.jpg" alt="">
          <p>Suzuki</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('mitsubishi')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/mitsu.jpg" alt="">
          <p>mitsubishi</p>

        </div>
      </div>
      <!-- <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('chev')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/chev.jpg" alt="">
          <p>Chevrolet</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('volvo')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/volvo.jpg" alt="">
          <p>Volvo</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('subaru')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/subaru.png" alt="">
          <p>Subaru</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('ford')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/ford.png" alt="">
          <p>Ford</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('tesla')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/tesla.png" alt="">
          <p>Tesla</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('benz')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/benz.jpg" alt="">
          <p>Benz</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('bmw')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/bmw.png" alt="">
          <p>BMW</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('mini')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/mini.jpg" alt="">
          <p>Mini</p>

        </div>
      </div>
      <div class="col-4 col-sm-3 col-md-2 p-2" (click)="goToModelPage('acura')">
        <div class="card-container">
          <img class="brand-logo" src="assets/images/brand/acura.jpg" alt="">
          <p>Acura</p>

        </div>
      </div> -->
    </div>
    <!-- <img style="scale: .35; position: absolute; bottom: -18vh; left: -15vw;" src="assets/images/svg/car.svg" alt="" srcset=""> -->

  </div>

</div>
