<nav class="d-flex align-items-center justify-content-between">
   <section class="d-flex align-items-center gap-3">
    <div class="logo-container" (click)="goHomePage()">
      <img class="logo" src="assets/images/logo.png" alt="logo for shopping car web">
    </div>
    <div class="title-container">
      <b class="d-flex">
        <h1 >BUY</h1><h1>ACAR</h1>
      </b>
      <!-- <div class="title-promote">
        <b>Buy your car for your dream</b>
      </div> -->
    </div>
   </section>

   <section class="d-flex gap-3">
     <button *ngIf="checkPath()" class="btn-menu" (click)="goBrandPage()">เลือกรุ่นรถของท่าน</button>
     <button *ngIf="!checkPath() && !isNotfoundPage()" class="btn-menu" (click)="goLocation()">< Back</button>
     <button *ngIf="isNotfoundPage()" class="btn-menu" (click)="goBrandPage()">< Back</button>
   </section>
</nav>
